<main class="min-h-screen bg-gray-100 p-8">
  <h1 class="font-black text-xl pb-8 text-stroke-red-900">API Visualizer</h1>

  <div class="bg-white rounded h-full">
    <div class="border-b flex text-sm p-4 gap-4 items-center">
      <button class="rounded bg-gray-300 py-2 px-4">GET</button>
      <div class="font-mono">https://jsonplaceholder.typicode.com/todos/1</div>
    </div>

    <textarea class="font-mono h-48 text-xs w-full p-4"
      >{{ formatCode(result) }}
</textarea
    >
  </div>

  <footer class="text-sm text-center p-10 text-gray-700">
    Made with &hearts;
  </footer>
</main>
