<div
  class="bg-white border- rounded h-full border-2 group-focus:border-gray-600"
>
  <div class="border-b flex text-sm p-4 gap-4 items-center">
    <button
      (click)="fetchRequest()"
      class="rounded font-medium bg-gray-300 py-2 px-4 text-gray-600 hover:bg-gray-200"
    >
      GET
    </button>
    <div class="font-mono">https://jsonplaceholder.typicode.com/todos/1</div>
  </div>

  <textarea
    *ngIf="response"
    [value]="response"
    class="font-mono h-48 text-xs w-full p-4 focus:outline-0"
  >
  </textarea>
</div>
